<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hotwire Widgets</title>
</head>

<body>
<th:block th:fragment="movies(movies)">
    <div id="no_movies" th:if="${movies.size() == 0}">There are no movies yet</div>
    <div th:if="${movies.size() > 0}" class="movies-container">
        <a href="#" th:each="movie : ${movies}" class="movie-card">
            <img class="card-poster" th:src="${movie.poster}"/>
            <div class="card-title" th:text="${movie.title}"></div>
            <div class="card-details">
                <p class="description">imdbId: <strong th:text="${movie.imdbId}"></strong></p>
                <p class="description">Author: <strong th:text="${movie.director}"></strong></p>
                <p class="description"></p>Year: <strong th:text="${movie.year}"></strong></p>
            </div>
        </a>
    </div>
</th:block>
</body>

</html>
